@font-face {
    font-family: 'Asap';
    src: url('Asap.ttf') format('truetype');
}

*, html {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(232, 232, 232);
    font-family: Verdana, sans-serif;
}

.container {
    width: 1000px;
    margin: 100px auto 0;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

h1 {
    color: red;
    font-family: 'Asap';
    font-size: 25px;
    margin-bottom: 20px;
}
