@font-face {
  font-family: 'Asap';
  src: url("Asap.ttf") format("truetype");
}

*, html {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #dedede;
  font-family: Verdana, sans-serif;
}

.container {
  width: 1000px;
  margin: 100px auto 0;
  padding: 20px;
  background: white;
  border-radius: 20px;
}

h1 {
  color: red;
  font-family: 'Asap';
  font-size: 25px;
  margin-bottom: 20px;
  float: left;
}

button#admin {
  background: green;
  color: white;
  float: right;
  padding: 5px 10px;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
}

.blueLink {
  color: blue;
  cursor: pointer;
}

.crsPnt {
  cursor: pointer;
}

.clrBth {
  clear: both;
}

input[type="text"], input[type="password"] {
  width: 200px;
  margin: 2px 0;
  padding: 6px;
  border: 1px darkgreen solid;
}

.topbar {
  width: 100%;
  clear: both;
  float: left;
}

.searchbar {
  clear: both;
}

.searchbar .searchfield {
  width: 300px;
  padding: 6px;
  font-size: 15px;
  color: #555;
  border: 1px #ddd solid;
}

.productsLength {
  display: block;
  font-size: 13px;
  margin: 10px 0;
}

.products {
  clear: both;
  width: 80%;
  float: left;
}

.products .product {
  margin: 15px 0;
  float: left;
  width: 50%;
  position: relative;
}

.products .product--highlighted {
  background: #f5c369;
  padding: 12px;
}

.products .product--highlighted .addToCart {
  margin-bottom: 12px;
}

.products .product:nth-child(odd) {
  clear: both;
}

.products .product__name, .products .product__price {
  display: block;
}

.products .product__name {
  font-weight: bold;
}

.products .product__desc {
  font-size: 11px;
}

.products .product__price {
  color: orange;
  font-size: 18px;
}

.products .product__img {
  display: block;
  float: left;
  margin-right: 10px;
}

.products .product__cta {
  top: auto;
  bottom: 0;
  left: 220px;
  position: absolute;
}

.products .product__cta .addToCart {
  background: orange;
  color: white;
  border: 0;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.cartitem {
  margin: 10px 0;
  float: left;
}

.cartitem .pName, .cartitem .pPrice, .cartitem .pCounter {
  clear: both;
  float: left;
}

.cartitem .pCounter .plus, .cartitem .pCounter .minus {
  margin-right: 5px;
  display: block;
  border: none;
  background: green;
  color: white;
  width: 15px;
  height: 15px;
  float: left;
  border-radius: 100%;
  cursor: pointer;
}

.cartitem .pPrice small {
  font-size: 9px;
}

.cart {
  width: 20%;
  padding: 0 10px;
  float: right;
}

.cart .totalPrice {
  float: left;
  clear: both;
  display: block;
  margin-top: 30px;
}

.cart .totalPrice strong {
  color: orange;
}

.cart .cta_cart {
  float: left;
  clear: both;
  margin-top: 20px;
  background: green;
  color: white;
  padding: 7px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cartContainer {
  position: relative;
  clear: both;
}

.cartContainer .cartItem {
  float: left;
  clear: both;
}

.cartContainer .cartItem .product__name, .cartContainer .cartItem .product__desc, .cartContainer .cartItem .product__price, .cartContainer .cartItem .product__cta {
  display: none;
}

.cartContainer .cartItem .product__img {
  float: left;
}

.cartContainer .cartItem .productView, .cartContainer .cartItem .cartitem {
  float: left;
}

.cartContainer .cartItem .pName {
  font-weight: bold;
}

.cartContainer .cartItem .pPrice span {
  color: orange;
}

.cartContainer .cartSum {
  position: absolute;
  right: 0;
  left: auto;
  width: 240px;
  height: 150px;
  background: #ccc;
  border-radius: 6px;
}

.cartContainer .cartSum .head {
  background: black;
  display: block;
  color: white;
  padding: 11px 15px;
}

.cartContainer .cartSum .content {
  padding: 15px;
  display: block;
}

.cartContainer .cartSum .content .price span {
  font-weight: bold;
  color: #bb7e0f;
}

.cartContainer .cartSum .content .checkout {
  margin-top: 20px;
}

button.loginBtn {
  width: 100px;
  padding: 6px;
  background: darkgreen;
  color: white;
  border: none;
}
/*# sourceMappingURL=main.css.map */